html{
    background: url('./img/bg2.jpg');
    background-size:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#playByPlay{
    color: white;
    font-size: 30px;
}

.header{
    color:rgb(255, 229, 127);
    font-size: 50px;
    margin-bottom: 25px;
    font-weight: 700;
}
#scoreboard{
    color: white;
    margin-top: 55px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
}

.box{
    display: flex;
    justify-content: center;
    text-align: center;
}

#buttbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./img/bg1.jpg');
    background-size:1200px;
    font-family: Arial, Helvetica, sans-serif;
    width: 1200px;
    height: 670px;
    
}

.butt{
    width: 200px;
    height:50px;
    margin: 50px 100px 25px 100px;
    border-radius: 10px;
    font-size: 25px;
    background-color: #8800ff30;
    color:antiquewhite;
}

.butt:hover{
    border-color:aliceblue;  
    cursor:pointer;
}

#rock:hover{
    background-image: url('./img/hand-rock.jpg');
    background-size:cover;
    background-position: center;
}

#scissors:hover{
    background-image: url('./img/hand-sci.jpg');
    background-position: center;
    background-size:cover;
}

#paper:hover{
    background-image: url('./img/hand-paper.jpg');
    background-position: center;
    background-size: cover;
}